* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
} 

h2 {
    font-size: 1.25rem;
}

:root {
    --primary-color: #ffd561;
    --primary-hover: #ffc72e;
    --secondary-color: #618bff;
    --secondary-hover: #4b78f5;

    --border-color: rgba(0, 0, 0, 0.12);
    --border-hover: rgba(0, 0, 0, 0.24);

    --font-color: #575757;

    --top-margin: 5rem;
    --bottom-margin: 100px;
}

body {
    padding: 0;
    margin: 0;
    color: var(--font-color);
}