* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
} 

h2 {
    font-size: 1.25rem;
}

:root {
    --primary-color: #6fbf6b;
    --primary-hover: #63aa60;
    --secondary-color: #a148a6;
    --secondary-hover: #904094;

    --border-color: rgba(0, 0, 0, 0.12);
    --border-hover: rgba(0, 0, 0, 0.24);

    --font-color: #575757;

    --bottom-margin: 90px;
}

body {
    padding: 0;
    margin: 0;
    color: var(--font-color);
}